@using System.Web.Mvc;
@model Cygnet.EmployeeOnboardingApp.Data.Model.User



@{
    ViewBag.Title = "Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WelcomePage</title>
</head>
<body>
    <div>
        <h2>Welcome</h2>

         <br/>
        <br/>
        <br/>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="LetsProceed" class="btn btn-default" onclick="location.href='@Url.Action("Create","PersonalDetails")'"/>
            </div>
        </div>
        

    </div>
</body>
</html>
