@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>


<p>Cygnet is a one-stop destination for all your complex business problems. 
For over 15 years, we are committed to delivering technology enabled solutions through highly 
efficient Delivery mechanism and flexible engagement models. We enable business transformation
 for enterprises and technology providers by delivering customized, reliable and efficient solutions. </p>
<br/>
<br/>
<p>For more information visit  <a href="www.cygnet-infotech.com">our official page.</a></p>