@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>
    INDIA HEADQUARTERS
    <br />
    Cygnet Infotech Pvt. Ltd.
    <br />
    16-Swastik Society,
    <br />
    Nr. AMCO Bank,
    <br />
    Stadium Circle,
    <br />
    Navrangpura,
    <br />
    Ahmedabad 380009,
    <br />
    Gujarat
    <br />
    Email Address: inquiry@cygnetinfotech.com
    <br />
    Phone Number: +91-79-67124000
</p>    